@import "./variables";
@import "./mobile";

@media (min-width: 1200px) {
    body {
        padding: 5% 30%;
    }
}

@media (min-width: 1000px) and (max-width: 1200px) {
    body {
        padding: 5% 25%;
    }
}

@media (min-width: 900px) and (max-width: 1000px) {
    body {
        padding: 5% 20%;
    }
}

@mixin desktop($screen-background,
    $toggle-keypad-background,
    $special-key-bg,
    $special-key-shadow,
    $equal-key-bg,
    $equal-key-shadow,
    $key-hover-bg,
    $key-bg,
    $key-text-color,
    $key-shadow,
    $select-btn) {

    @media (min-width: 600px) {
        /*theme selection*/

        .theme-selection{
            
            h1{
                margin-left: 4%;
            }            
        }

        .theme-btn {
            text-align: right;
            padding: 0;            
            margin-right: -20%;
            width: 80%;

            div {
                font-size: 0.65rem;
            }

            p {
                font-size: 0.6rem;
                margin: 0;                                          
            }

            .col-1{                
                margin-right: -40%;
            }            

        }

        .selection {
            text-align: right;
            height: 100%;
            padding: 0;
            border-radius: 10px;

            .col {
                padding: 0;
                margin: 0;
            }
           
        }

        .btn-area {
            background-color: $toggle-keypad-background;
            border-radius: 30px;
            padding: 7% 0%;            
        }        
  

    }


}