@import "./variables";
@import  "./mobile";

body{
    font-family: $font-family;         
}

.theme-1 {
    background-color: $theme1-main-background;
    color: $white;
    @include mobile($theme1-screen-background,
        $theme1-toggle-keypad-background,
        $theme1-key-background-dark-blue,
        $theme1-key-shadow-dark-blue,
        $theme1-key-toggle-background-red,
        $theme1-key-shadow-dark-red,
        $white,
        $theme1-key-background-grayish-orange,
        $theme1-text-grayish-blue,
        $theme1-key-shadow-grayish-orange,
        $theme1-key-toggle-background-red );
}

.theme-2 {
    background-color: $theme2-main-background;
    color: $theme2-text-grayish-yellow;
    @include mobile($theme2-screen-background,
        $theme2-toggle-keypad-background,
        $theme2-key-background-cyan,
        $theme2-key-shadow-cyan,
        $theme2-key-toggle-background-orange,
        $theme2-key-shadow-orange,
        $white,
        $theme2-key-background-grayish-yellow,
        $theme2-text-grayish-yellow,
        $theme2-key-shadow-grayish-orange,
        $theme2-key-toggle-background-orange );
}

.theme-3 {
    background-color: $theme3-main-background;
    color: $theme3-text-light-yellow;
    @include mobile($theme3-toggle-keypad-background,
        $theme3-toggle-keypad-background,
        $theme3-key-background-dark-violet,
        $theme3-key-shadow-vivid-magenta,
        $theme3-key-toggle-background-cyan,
        $theme3-key-shadow-cyan,
        #6B34AC,
        $theme3-key-background-very-dark-violet,
        $theme3-text-light-yellow,
        $theme3-key-shadow-dark-magenta,
        $theme3-key-toggle-background-cyan );
}